<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="football.module.member.dal.mysql.livecode.LiveCodeMapper">

    <sql id="referrerStatisticsWhere">
        WHERE deleted = 0
        <if test="reqVO.referrerType != null">
            AND referrer_type = #{reqVO.referrerType}
        </if>
        <if test="reqVO.referrer != null">
            AND referrer = #{reqVO.referrer}
        </if>
        <if test="reqVO.createTime != null and reqVO.createTime.length == 2">
            AND create_time BETWEEN #{reqVO.createTime[0]} AND #{reqVO.createTime[1]}
        </if>
        <if test="reqVO.userIdList != null and reqVO.userIdList.size() > 0">
            AND referrer IN
            <foreach item="item" collection="reqVO.userIdList" separator="," close=")" open="(" index="">
                #{item}
            </foreach>
        </if>
    </sql>

    <select id="selectReferrerStatisticsPage" resultType="football.module.member.controller.admin.livecode.vo.ReferrerStatisticsRespVO">
        SELECT
            referrer,
            referrer_type AS referrerType,
            COUNT(*) AS liveCodeCount
        FROM channel_live_code
        <include refid="referrerStatisticsWhere"/>
        GROUP BY referrer_type, referrer
    </select>

    <select id="selectReferrerStatisticsList" resultType="football.module.member.controller.admin.livecode.vo.ReferrerStatisticsRespVO">
        SELECT
            referrer,
            referrer_type AS referrerType,
            COUNT(*) AS liveCodeCount
        FROM channel_live_code
        <include refid="referrerStatisticsWhere"/>
        GROUP BY referrer_type, referrer
    </select>

</mapper>